<div class="edit-info-div">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="dxp-row">
            <div class="dxp-col-12 dxp-col-sm-12 dxp-col-md-12 dxp-col-lg-12 dxp-col-xl-12 dxp-col-xxl-12">
                <div formArrayName="formArray">
                    <div class="card" *ngFor="let control of editForm.get('formArray')['controls']; let i = index">
                        <div class="card-header">
                            <span class="info-form-title">Application Info</span>
                            <button class="btn btn-sm close-btn" type="button" (click)="delInput(i)">
                                <em class="fas fa-times"></em>
                            </button>
                        </div>

                        <div class="card-body">
                            <pulse-info-form [editForm]="editForm.controls.formArray.controls[i]"
                                [contactFieldList]="contactFieldListData"></pulse-info-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dxp-row">
            <div class="dxp-col-12 dxp-col-sm-12 dxp-col-md-12 dxp-col-lg-12 dxp-col-xl-12 dxp-col-xxl-12">
                <div class="form-group">
                    <button type="button" class="btn btn-link add-link" (click)="addInput()"><em
                            class="fas fa-plus"></em>
                        Add/Update info</button>
                </div>
            </div>
        </div>
        <div class="dxp-col-12 dxp-col-sm-12 dxp-col-md-12 dxp-col-lg-12 dxp-col-xl-12 dxp-col-xxl-12" *ngIf="showErrorMsg">
                <p class="error-msg">Please enter valid details before saving</p>
            </div>
        <div class="dxp-row">
            <div class="dxp-col-12 dxp-col-sm-12 dxp-col-md-12 dxp-col-lg-12 dxp-col-xl-12 dxp-col-xxl-12 text-center">
                <button type="submit" class="btn btn-sm save-btn">Save</button>
            </div>
        </div>
    </form>
</div>
